.Intro-Text p {font: italic bold 1.5em/2 arial, Helvetica, sans-serif;}

.Banner-Spacing { padding: 10px;}

.Content-Text p {font: normal normal 1.3em/2 arial, Helvetica, sans-serif; margin-bottom: 1.5em/2; }
.Content-Text h3 {font: normal normal 1.5em/2 arial, Helvetica, sans-serif; text-transform: uppercase; border-bottom: solid 2px #a65400;}

.Message-Width-100 {width:100%;}
.Message-Width-75 {width:75%;}
.Message-Width-50 {width:50%;}


/*Tool Tips */
.tooltip{
	margin:8px;
	padding:8px;
	border:1px solid blue;
	background-color:yellow;
	position: absolute;
	z-index: 2;
}


/* Scrollbar controls */

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}